{{channel.name}}


<a href="/{{ channel.id }}/join">Join</a>
<div>
	<p>Users in this channel</p>
	<ul>
	{% if channel.user.all %}	
		{% for users in channel.user.all %}
			{{users.username}}

		{% endfor %}

	{% else %}
    	<p>No users are available.</p>
	{% endif %}
	</ul>
</div>

<div>
	<p>Messages</p>
	<ul>
		{% if channel.messages.all %}	
		{% for msg in channel.messages.all %}
			<strong>{{msg.message}}</strong> &nbsp;&nbsp;&nbsp; at {{msg.time}}<br>
		{% endfor %}

		{% else %}
    		<p>No messages are posted.</p>
		{% endif %}
	</ul>

</div>

<a href="/{{channel.id}}/post">Add post</a>