<!DOCTYPE html>
<html>
<head>
<title>i Crowd</title>

<body>
<table height="100%" width="100%">
<tr>
<center>
<td background="HostelButton.jpg" style="background-size: cover; height:100%; width:25%">
   <a href="index.html"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>Hostel<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></a>
</td>
<td background="SCButton.jpg" style="background-size: cover; height:100%; width:25%">
    <a href="index.html">Student Centre</a>
</td>
<td background="AcadButton.jpg" style="background-size: cover; height:100%; width:25%">
   <a href="index.html"><font size="20px">Academic Block</a>
</td>
<td background="FacultyBuilding.jpg" style="background-size: cover; height:100%; width:25%">
   <a href="index.html">Faculty Building</a>
</td>
</tr>
</table>
</body>
</head>
</html>